extends layout
block content
 h1= title
 form(id='chickenDishForm', action="/resource/chickenDish", method="POST")
    div.form-group
    label.chickenDishAttr(for='dishName') Chicken Dish Name
    input#chickenDish_type(type='text', name='dishName')
    div.form-group
    label.chickenDishAttr(for='mainIngredient') Chicken Dish Main Ingredient
    input#size(type='text', name='mainIngredient')
    div.form-group
    label.chickenDishAttr(for='price') Chicken Dish Price
    input#cost(type='number', name='price')
    br
    input(type="submit")
 script.
    document.forms['chickenDishForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
    });
    });